/* common shared styles */
body {
    font-family: 'Roboto Slab', serif;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.orange-r {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
}

.nav-title {
    color: #fffafa;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

/* header related styles */
.header {
    background-color: black;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-greeting {
    color: #b7aeae;
    font-size: 45px;
    margin-bottom: 0;
}

.banner-title {
    color: white;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-dscrpt {
    color: white;

}

.banner-content {
    max-width: 500px;
}

.banner .propic {
    width: 500px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

.section-title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    background: #FD6E0A;
}

.section-description {
    text-align: center;
    font-size: 18px;
    background: #FD6E0A;

}

/* about section styles */
.about {
    padding: 130px;
    background: #FD6E0A;
    color: black;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    background: #FD6E0A
}

.about-info {
    text-align: center;
    background: #FD6E0A
}


/* what I do styles */

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    background: black;
    color: white;
    box-shadow: 0px 6px 50px 0px #FD6E0A;
}

.skill-description {
    color: white;
}

.info-title {
    background: #FD6E0A
}

.info-description {
    background: #FD6E0A
}

#work-dscrpt {
    padding: 30px 150px;
}

/* Resume Section styles */
.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}

.resume-item-institute {
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-item-institute,
.resume-item-description {
    color: #757575;
}

.resume-container hr {
    margin: 30px 30px;
}

.download-cv{
    text-align: center;
    margin-top: 50px;
}

footer{
    display: flex;
    background-color: #FFF8F3;
    margin-top: 100px;
    padding: 130px 200px;
}